In [1]:
import numpy as np
import pandas as pd

In [7]:
ra_df = pd.read_csv('data/race_predictor/running_ahead/log.txt', sep = '\t')
ra_df.head()

,Date,TimeOfDay,Type,SubType,Distance,DistanceUnit,Duration,Weight,WeightUnit,RestHR,...,ShoePrice,OverallPlace,FieldSize,GroupMinAge,GroupMaxAge,GroupPlace,GroupSize,GenderPlace,GenderSize,Unnamed: 37
0,2005-10-01,8:00 AM,Run,Race,3.10,Mile,0:23:53,108.0,lb,NaN,...,92.55,255.0,1480.0,20.0,24.0,9.0,76.0,NaN,NaN,NaN
1,2007-09-23,3:30 AM,Bike,Easy,10.20,Mile,1:00:00,102.0,lb,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-09-23,4:00 PM,Run,Easy,2.16,Mile,0:25:00,105.0,lb,NaN,...,109.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-09-30,10:30 AM,Run,Easy,3.87,Mile,0:33:22,NaN,NaN,NaN,...,109.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-10-03,4:00 PM,Spinning,Default,4.00,Mile,0:20:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
ra_df[ra_df['Type'] == 'Run'].shape

(461, 38)

In [10]:
boston = pd.read_csv('data/race_predictor/boston_marathon/marathon_results_2015.csv')

In [11]:
boston.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [12]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26598 entries, 0 to 26597
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     26598 non-null  int64
 1   Bib            26598 non-null  object
 2   Name           26598 non-null  object
 3   Age            26598 non-null  int64
 4   M/F            26598 non-null  object
 5   City           26598 non-null  object
 6   State          24047 non-null  object
 7   Country        26598 non-null  object
 8   Citizen        1064 non-null   object
 9   Unnamed: 9     67 non-null     object
 10  5K             26598 non-null  object
 11  10K            26598 non-null  object
 12  15K            26598 non-null  object
 13  20K            26598 non-null  object
 14  Half           26598 non-null  object
 15  25K            26598 non-null  object
 16  30K            26598 non-null  object
 17  35K            26598 non-null  object
 18  40K            26598 non-null  object
 19  Pace           26598 non-null  object
 20  Proj Time      26598 non-null  object
 21  Official Time  26598 non-null  object
 22  Overall        26598 non-null  int64
 23  Gender         26598 non-null  int64
 24  Division       26598 non-null  int64
dtypes: int64(5), object(20)
memory usage: 5.1+ MB

In [37]:
emissions = pd.read_excel('https://www.eia.gov/electricity/data/emissions/archive/xls/emissions2013.xlsx', header = 1, skipfooter = 2, sheet_name = None)

In [42]:
emissions['CO2']

,Plant Code,Plant Name,State,Sector Group,Sector Code,Prime Mover,Fuel Code,Aggregated Fuel Group,Generation (kWh),Useful Thermal Output (MMBtu),Total Fuel Consumption (MMBtu),Fuel Consumption for Electric Generation (MMBtu),\n Fuel Consumption for Useful Thermal Output (MMBtu),Quantity of Fuel Consumed,Fuel Units,Tons of CO2 Emissions,Metric Tonnes of CO2 Emissions
0,3,Barry,AL,ELECTRIC POWER,1,CA,NG,GAS,2813479000,0,588611,588611,0,575166,Mcf,3.443374e+04,3.123809e+04
1,3,Barry,AL,ELECTRIC POWER,1,CT,NG,GAS,5004417000,0,54371640,54371640,0,53116114,Mcf,3.180741e+06,2.885549e+06
2,3,Barry,AL,ELECTRIC POWER,1,ST,BIT,COAL,4962411861,0,51202482,51202482,0,2417558,Tons,5.263615e+06,4.775120e+06
3,3,Barry,AL,ELECTRIC POWER,1,ST,NG,GAS,116829139,0,1206368,1206368,0,1178044,Mcf,7.057253e+04,6.402298e+04
4,7,Gadsden,AL,ELECTRIC POWER,1,ST,BIT,COAL,82694496,0,1261795,1261795,0,52109,Tons,1.297125e+05,1.176744e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5634,99999,Partially Reporting Facilities,RI,COMMERCIAL,5,ST,DFO,PET,8563914,0,1083,1083,0,187,Barrels,8.734395e+01,7.923791e+01
5635,99999,Partially Reporting Facilities,TX,INDUSTRIAL,7,CA,NG,GAS,106313458,381442,1525670,755281,770389,1490293,Mcf,8.925170e+04,8.096861e+04
5636,99999,Partially Reporting Facilities,TX,INDUSTRIAL,7,CT,NG,GAS,788137809,104219,9923774,9551561,372213,9693603,Mcf,5.805408e+05,5.266631e+05
5637,99999,Partially Reporting Facilities,WI,ELECTRIC POWER,1,GT,NG,GAS,41126533,0,588151,588151,0,582327,Mcf,3.440683e+04,3.121367e+04
5638,99999,Partially Reporting Facilities,WI,ELECTRIC POWER,1,GT,DFO,PET,21467,0,246,246,0,42,Barrels,1.983990e+01,1.799864e+01

In [ ]:
emissions = pd.DataFrame()
eia_years = list(range(2013,2019))
sheets = ['CO2','SO2','NOx']

for year in eia_years:
    dict_df = pd.read_excel(f'https://www.eia.gov/electricity/data/emissions/archive/xls/emissions{year}.xlsx', header = 1, skipfooter = 2, sheet_name = None)
    temp_df = dict_df[sheets[0]]
    cols = temp_df.columns
    for i in range(1,3):
        cols = dict_df[sheets[i]].columns
        temp_df = temp_df.merge(dict_df[sheets[i]][cols[:20]], on = list(cols[0:15]))
    temp_df['year'] = year
    emissions = emissions.append(temp_df)

In [33]:
temp_df = pd.read_excel('data/emissions/emissions2019.xlsx', header = 1, skipfooter = 2)
temp_df['year'] = 2019
emissions = emissions.append(temp_df)

In [64]:
emissions.describe()

,Plant Code,Sector Code,Generation (kWh),Useful Thermal Output (MMBtu),Total Fuel Consumption (MMBtu),Fuel Consumption for Electric Generation (MMBtu),\n Fuel Consumption for Useful Thermal Output (MMBtu),Tons of CO2 Emissions,Metric Tonnes of CO2 Emissions,year
count,31675.000000,31675.000000,3.167500e+04,3.167500e+04,3.167500e+04,3.167500e+04,3.167500e+04,3.167500e+04,3.167500e+04,31675.000000
mean,26996.458216,2.401389,5.035585e+08,1.727976e+05,4.868603e+06,4.595390e+06,2.732130e+05,4.141532e+05,3.757173e+05,2015.466551
std,26747.681615,2.039228,1.523333e+09,9.730622e+05,1.561739e+07,1.550620e+07,1.452690e+06,1.527025e+06,1.385308e+06,1.707962
min,3.000000,1.000000,-2.255287e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2013.000000
25%,2537.000000,1.000000,2.844040e+05,0.000000e+00,2.613500e+03,2.097500e+03,0.000000e+00,1.957275e+02,1.774046e+02,2014.000000
50%,8906.000000,1.000000,1.054000e+07,0.000000e+00,1.008860e+05,6.937100e+04,0.000000e+00,6.822970e+03,6.189758e+03,2015.000000
75%,55153.000000,3.000000,1.789623e+08,0.000000e+00,1.488040e+06,9.257660e+05,0.000000e+00,9.534419e+04,8.649531e+04,2017.000000
max,99999.000000,7.000000,2.024702e+10,2.561198e+07,2.098134e+08,2.098134e+08,3.550577e+07,2.247102e+07,2.038557e+07,2018.000000

In [62]:
temp_df.merge(dict_df[sheets[i]], on = list(cols[:15]))

,Plant Code,Plant Name,State,Sector Group,Sector Code,Prime Mover,Fuel Code,Aggregated Fuel Group,Generation (kWh),Useful Thermal Output (MMBtu),...,Quantity of Fuel Consumed,Fuel Units,Tons of CO2 Emissions,Metric Tonnes of CO2 Emissions,Sulfur Content of Fuel Used in EIA Model (%),EIA Model Estimates of SO2 Emissions (Tons),EIA Model Estimates of Plant Level SO2 Emissions (Tons),CEMS Reported Plant Level SO2 Emissions (Tons),Selected SO2 Emissions (Tons),Selected SO2 Emissions (Metric Tonnes)
0,3,Barry,AL,ELECTRIC POWER,1,CA,NG,GAS,2813479000,0,...,575166,Mcf,3.443374e+04,3.123809e+04,,0.17255,11861.3,13447.9,0.19563,0.177474
1,3,Barry,AL,ELECTRIC POWER,1,CT,NG,GAS,5004417000,0,...,53116114,Mcf,3.180741e+06,2.885549e+06,,15.9348,11861.3,13447.9,18.0662,16.3896
2,3,Barry,AL,ELECTRIC POWER,1,ST,BIT,COAL,4962411861,0,...,2417558,Tons,5.263615e+06,4.775120e+06,0.0059097,11844.9,11861.3,13447.9,13429.3,12183
3,3,Barry,AL,ELECTRIC POWER,1,ST,NG,GAS,116829139,0,...,1178044,Mcf,7.057253e+04,6.402298e+04,,0.254855,11861.3,13447.9,0.288944,0.262128
4,7,Gadsden,AL,ELECTRIC POWER,1,ST,BIT,COAL,82694496,0,...,52109,Tons,1.297125e+05,1.176744e+05,0.0181065,1792.67,1793.11,1525.72,1525.34,1383.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5400,99999,Partially Reporting Facilities,RI,COMMERCIAL,5,ST,DFO,PET,8563914,0,...,187,Barrels,8.734395e+01,7.923791e+01,0.0027,,,,0.150561,0.136588
5401,99999,Partially Reporting Facilities,TX,INDUSTRIAL,7,CA,NG,GAS,106313458,381442,...,1490293,Mcf,8.925170e+04,8.096861e+04,,,,,0.447088,0.405595
5402,99999,Partially Reporting Facilities,TX,INDUSTRIAL,7,CT,NG,GAS,788137809,104219,...,9693603,Mcf,5.805408e+05,5.266631e+05,,,,,2.90808,2.63819
5403,99999,Partially Reporting Facilities,WI,ELECTRIC POWER,1,GT,NG,GAS,41126533,0,...,582327,Mcf,3.440683e+04,3.121367e+04,,,,,0.630647,0.572119
5404,99999,Partially Reporting Facilities,WI,ELECTRIC POWER,1,GT,DFO,PET,21467,0,...,42,Barrels,1.983990e+01,1.799864e+01,0.0027,,,,0.120353,0.109184

In [65]:
temp_df

,Plant Code,Plant Name,State,Sector Group,Sector Code,Prime Mover,Fuel Code,Aggregated Fuel Group,Generation (kWh),Useful Thermal Output (MMBtu),...,EIA Model Estimates of NOx Emissions (Tons),EIA Model Estimates of Plant Level NOx Emissions (Tons),CEMS Reported Plant Level NOx Emissions (Tons),Selected NOx Emissions (Tons),Selected NOx Emissions (Metric Tonnes),NERC Region,Balancing Authority Code,Balancing Authority Name,EIA Balancing Authority Region,year
0,3,Barry,AL,ELECTRIC POWER,1,CA,NG,GAS,2815869018,0,...,50.488130,12791.676356,2560.02,10.104268,9.166531,SERC,SOCO,"Southern Company Services, Inc. - Trans",Southeast,2018
1,3,Barry,AL,ELECTRIC POWER,1,CT,NG,GAS,5173867436,0,...,7852.984780,12791.676356,2560.02,1571.630006,1425.773389,SERC,SOCO,"Southern Company Services, Inc. - Trans",Southeast,2018
2,3,Barry,AL,ELECTRIC POWER,1,ST,BIT,COAL,3738393300,0,...,4691.272413,12791.676356,2560.02,938.871613,851.738740,SERC,SOCO,"Southern Company Services, Inc. - Trans",Southeast,2018
3,3,Barry,AL,ELECTRIC POWER,1,ST,SUB,COAL,406943957,0,...,133.053129,12791.676356,2560.02,26.628129,24.156880,SERC,SOCO,"Southern Company Services, Inc. - Trans",Southeast,2018
4,3,Barry,AL,ELECTRIC POWER,1,ST,NG,GAS,166576863,0,...,63.877904,12791.676356,2560.02,12.783984,11.597554,SERC,SOCO,"Southern Company Services, Inc. - Trans",Southeast,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5150,62459,Micro Santa Clara,CA,ELECTRIC POWER,2,FC,NG,GAS,5368000,0,...,0.000000,0.000000,,0.000000,0.000000,WECC,CISO,California Independent System Operator,California,2018
5151,62574,ATT Van Nyus,CA,ELECTRIC POWER,2,FC,NG,GAS,8256000,0,...,0.000000,0.000000,,0.000000,0.000000,WECC,LDWP,Los Angeles Department of Water and Power,California,2018
5152,62625,West Water Street,MA,ELECTRIC POWER,1,IC,DFO,PET,793000,0,...,12.134380,12.134380,,12.134380,11.008237,NPCC,ISNE,New England ISO,New England ISO,2018
5153,62658,Cuyahoga Falls 1,OH,ELECTRIC POWER,1,IC,DFO,PET,300000,0,...,4.557382,4.557382,,4.557382,4.134430,RFC,PJM,"PJM Interconnection, LLC",Mid-Atlantic,2018
5154,62762,NASA Johnson Space Center CHP,TX,ELECTRIC POWER,3,GT,NG,GAS,54021000,11418,...,107.003604,107.003604,,107.003604,97.073033,TRE,ERCO,"Electric Reliability Council of Texas, Inc.","Electric Reliability Council of Texas, Inc.",2018

In [59]:
list(cols[:1])

['Plant Code']