In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
import statistics

In [2]:
recipes = pd.read_csv('data/large_data/RAW_recipes.csv')

In [3]:
recipes['tags'] = recipes['tags'].apply(literal_eval)

In [4]:
tag_dist = recipes['tags'].explode().value_counts()
tag_list = recipes['tags'].explode().unique()

In [5]:
recipes["veg"] = [("vegan" in tag_list) or ("vegetarian" in tag_list) for tag_list in recipes["tags"]]

In [6]:
veg_recipes = recipes[recipes["veg"]].copy()

In [7]:
interactions = pd.read_csv('data/large_data/RAW_interactions.csv')

In [8]:
veg_recipes['ratings'] = [list(interactions[interactions['recipe_id'] == rec_id]['rating'])  for rec_id in veg_recipes['id'] ]

In [9]:
veg_recipes['avg_rating'] = veg_recipes['ratings'].map(statistics.mean)

In [10]:
veg_recipes['n_ratings'] = veg_recipes['ratings'].map(len)

In [11]:
veg_recipes[veg_recipes['n_ratings'] > 10].describe()

,id,minutes,contributor_id,n_steps,n_ingredients,avg_rating,n_ratings
count,3128.000000,3128.000000,3.128000e+03,3128.000000,3128.000000,3128.000000,3128.000000
mean,142169.992967,79.190217,1.624612e+05,8.831841,8.501918,4.460244,28.839834
std,110971.657708,500.792949,2.163368e+05,5.544758,3.650987,0.411377,43.603142
min,62.000000,0.000000,2.700000e+01,1.000000,2.000000,1.764706,11.000000
25%,50842.750000,17.000000,3.744900e+04,5.000000,6.000000,4.266667,13.000000
50%,117433.500000,31.000000,7.132400e+04,8.000000,8.000000,4.538462,17.000000
75%,204854.750000,58.500000,2.097470e+05,11.000000,11.000000,4.750000,28.000000
max,512584.000000,20190.000000,2.222923e+06,82.000000,25.000000,5.000000,1220.000000

In [23]:
search_phrase = "butternut squash soup"
search_words = search_phrase.split(" ")
search_words = "|".join("^{}$".format(word) for word in search_words)

In [25]:
recipe_list = veg_recipes.loc[veg_recipes['name'].str.contains(search_phrase, case=False)]

In [26]:
recipe_list.describe()

,id,minutes,contributor_id,n_steps,n_ingredients,avg_rating,n_ratings
count,23.000000,23.000000,2.300000e+01,23.000000,23.000000,23.000000,23.000000
mean,238846.217391,62.913043,4.463659e+05,12.260870,11.217391,4.304743,4.260870
std,142403.200255,38.257397,5.458591e+05,6.091853,3.789417,0.821696,6.565872
min,11636.000000,9.000000,3.288000e+03,5.000000,6.000000,2.333333,1.000000
25%,157662.000000,35.000000,8.702850e+04,7.500000,7.500000,4.000000,1.000000
50%,226765.000000,48.000000,2.398970e+05,12.000000,11.000000,4.714286,2.000000
75%,313188.500000,90.000000,5.575435e+05,15.000000,13.500000,5.000000,4.000000
max,490345.000000,170.000000,2.462143e+06,27.000000,21.000000,5.000000,31.000000

In [31]:
# recipe_list.style.set_properties(subset=['ingredients'], **{'width': '300px'})
pd.set_option('max_colwidth', 400)

In [38]:
common_ingredients = recipe_list['ingredients'].apply(literal_eval).explode().value_counts()
print(common_ingredients)

butternut squash                      21
salt                                  10
olive oil                              9
vegetable stock                        9
garlic cloves                          8
                                      ..
shallot                                1
salt & freshly ground black pepper     1
chives                                 1
ground pepper                          1
pinto beans                            1
Name: ingredients, Length: 137, dtype: int64

In [42]:
common_ingredients[:20]

butternut squash    21
salt                10
olive oil            9
vegetable stock      9
garlic cloves        8
butter               7
onion                7
water                7
coconut milk         5
celery               5
carrots              5
curry powder         4
pepper               4
nutmeg               4
vegetable broth      4
garlic               3
ground coriander     3
onions               3
salt and pepper      3
ground cumin         3
Name: ingredients, dtype: int64